<h1>Bonjour,
    Veuillez confirmer votre e-mail pour profiter pleinement de toutes les fonctionnalitées</h1>

<p>
    Veuillez cliquer sur ce lien pour confirmer votre inscription : <br><br>
    <a href="{{ signedUrl }}">Confirmation d'Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Enjoyyy 🥳
</p>
